body,html{
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* ---------------------------------------------------------------------------------------- */
/* ------------------------------- Entete Reglements----------------------------------------*/
/* ---------------------------------------------------------------------------------------- */
.page-creation-reglements {
    display: flex;
    flex-direction: column; /* Stack vertically if necessary */
    height: 100vh; /* Full height of the page */
    overflow: hidden; /* Prevent overflow (no scrollbars) */
    background-color: #1f1f1f;
}

.panneau-table-entete{
    display: flex;
    flex-direction: column; /* Stack vertically if necessary */
    height: 100vh; /* Full height of the page */
    overflow-x: auto; /* Prevent overflow (no scrollbars) */
    background-color: #1f1f1f;
}

.table-entete-reglements th {
    background-color: #f2f2f2;
    color: black;
    position: sticky;
    top: 0; /* Fix the header at the top */
    z-index: 1; /* Ensure the header is above the table body */
  }

/* ---------------------------------------------------------------------------------------- */
/* ------------------------------- INVENTAIRE ----------------------------------------------*/
/* ---------------------------------------------------------------------------------------- */
.page-inventaire {
    display: flex;
    flex-direction: column; /* Stack vertically if necessary */
    height: 100vh; /* Full height of the page */
    overflow: hidden; /* Prevent overflow (no scrollbars) */
    background-color: #1f1f1f;
}


.inventaire-carte-conteneur{
    flex: 1;
    position: relative;
    width: 100%;
}       

.table-inventaire {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-shrink: 0; /* Prevent shrinking */
    overflow-y: auto; /* Allow scrolling if necessary within this section */
    background-color: #1f1f1f;
    color:white;
    width:100%;
}

.table-inventaire {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-shrink: 0; /* Prevent shrinking */
    overflow-y: auto; /* Allow scrolling if necessary within this section */
    background-color: #1f1f1f;
    color:white;
    width:100%;
}

.table-inventaire-control {
    flex-shrink: 0; /* Prevent shrinking */
    padding: 10px;
    background-color: #1f1f1f;
    color: white;
    width: 100%;
}


.table-inventaire-rendu-container {
  flex: 1; /* Take remaining space */
  overflow-y: auto; /* Enable vertical scrolling */
  width:100%;
}

.table-inventaire-rendu {
  width: 100%;
  border-collapse: collapse;
  justify-content: center;
}

.panneau-bas-inventaire {
    display: flex;
    flex-direction: column;
    height: 200px; /* Initial height */
    overflow: hidden; /* Prevent overflow */
    width: 100%; /* Ensure it takes the full width of its container */
    border: 1px solid #ccc; /* Add a border for visibility */
    position: relative; /* Ensure the handle is positioned correctly */
}

.panneau-histoire-modifiable{
    display:flex;
    flex-direction: column;
    position:relative;
}


.table-inventaire-rendu th {
  background-color: #f2f2f2;
  color: black;
  position: sticky;
  top: 0; /* Fix the header at the top */
  z-index: 1; /* Ensure the header is above the table body */
}


/* ---------------------------------------------------------------------------------------- */
/* ------------------------------- HISTOIRE   ----------------------------------------------*/
/* ---------------------------------------------------------------------------------------- */

/* Make the main container take up the full viewport */
.page-histoire {
    display: flex;
    flex-direction: column; /* Stack vertically if necessary */
    height: 100vh; /* Full height of the page */
    overflow: hidden; /* Prevent overflow (no scrollbars) */
    background-color: #1f1f1f;
}

.panneau-bas-historique {
    display: flex;
    flex-direction: column;
    height: 200px; /* Initial height */
    overflow: hidden; /* Prevent overflow */
    width: 100%; /* Ensure it takes the full width of its container */
    border: 1px solid #ccc; /* Add a border for visibility */
    position: relative; /* Ensure the handle is positioned correctly */
}

/* The dimensionable area for resizing */
.histoire-dimensionnable {
    display: flex; /* This makes the left and right panels sit side by side */
    flex: 1; /* Take remaining space */
    height: 100%; /* Ensure it fills the entire height of its parent */
    justify-content: flex-start;
    align-items:left;
}

/* The left panel with the table (Resizable) */
.histoire-barre-historique {
    background-color: #1f1f1f;
    color:white;
    border-right: 2px solid #ccc;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    min-width: 150px;
    max-width: 600px;
    height: 100%; /* Full height of its container */
    flex-shrink: 0; /* Prevent shrinking */
}

/* The right panel for map and bottom table */
.histoire-barre-droite {
    display: flex;
    flex-direction: column; /* Stack map and table vertically */
    flex: 1; /* Take remaining space */
    height: 100%; /* Full height of its container */
}

/* The resizable map (histoire-carte) */
.histoire-carte-container {
    flex: 1;
    position: relative;
}

/* The bottom section in the right panel */
.histoire-barre-territoires-bas {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-shrink: 0; /* Prevent shrinking */
    overflow-y: auto; /* Allow scrolling if necessary within this section */
    background-color: #1f1f1f;
    color:white;
}

.table-territoire {
    width: 100%;
    border-collapse: collapse;
    display: grid;
    overflow-y: auto;
}

.table-territoire th,
.table-territoire td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-territoire th {
    background-color: #f2f2f2;
    color: black;
}

.table-territoire th:nth-child(1),
.table-territoire td:nth-child(1) {
    min-width: 150px; /* Minimum width for the first column */
}

.table-territoire th:nth-child(2),
.table-territoire td:nth-child(2) {
    min-width: 200px; /* Minimum width for the second column */
}

.table-territoire th:nth-child(3),
.table-territoire td:nth-child(3) {
    min-width: 250px; /* Minimum width for the third column */
}

/* ---------------------------------------------------------------------------------------- */
/* ------------------------------- Resizing Handle -----------------------------------------*/
/* ---------------------------------------------------------------------------------------- */

.react-resizable-handle {
    /*position: absolute;*/
    background-color: #fcfbfb;
    border-radius: 4px;
    width: 10px;  /* Handle width */
    height: 10px; /* Handle height */
    z-index: 10;  /* Ensure handle is in front of other elements */
}

/* Style the north (top) resize handle */
.react-resizable-handle-n {
    top: -5px; /* Shift handle to the top */
    left: 50%; /* Center handle horizontally */
    cursor: ns-resize; /* Change cursor to resize vertically */
}

.resize-handle {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #ccc;
    cursor: ns-resize;
    z-index: 10; /* Ensure handle is in front of other elements */
}

.resize-handle-left-panel {
    position:absolute;
    right: 0;
    width: 5px;
    height: 100%;
    background-color: #ccc;
    cursor: ew-resize;
    z-index: 10; /* Ensure handle is in front of other elements */
}

/* ---------------------------------------------------------------------------------------- */
/* ------------------------------- Menu Bar -----------------------------------------*/
/* ---------------------------------------------------------------------------------------- */
.ville-control{
    padding: 10px 20px;
}


.menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #1f1f1f;
    border-bottom: 2px solid #333;
    color: #ffffff;
    width:100%;
}

.menu-bar h1 {
    margin: 0;
    font-size: 24px;
    color: #ffffff;
}

.menu-links {
    display: flex;
    gap: 15px;
    color:white;
    justify-content: flex-end; 
    flex-grow: 1;
}

.menu-links a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: color 0.3s ease;
}

.menu-links a:hover {
    color: white;
}