.page-ens-reg-terr{
    overflow:hidden;
    display:flex;
    flex-direction:column;
    height:100vh;
}

.control-ens-reg-terr-comp {
    display: flex;
    flex-direction: row;
    padding:3px;
}

.carte-et-tableau-ens-reg-terr{
    display:flex;
    flex-direction:row;
    width:100%;
    height:100%;
    flex:1;
}
/* The scrollable area for the table */
.gantt-table-scroll-container {
    overflow-x: auto;
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
}

.gantt-ens-reg-terr{
    position: relative;
    overflow: hidden; /* Hide overflow, let inner div handle scroll */
    border: 1px solid black;
    white-space: nowrap;
    display:flex;
    flex-direction:column;
    width:1000px;
}

.div-carte-ens-reg-terr{
    z-index:1;
    display: flex;
    flex: 1 1 0;
}

.table-vis-assoc-terr-ens-reg {
    border-collapse: collapse;
    overflow-x:auto;
    min-width:800px;
    width:max-content;
    
}

.table-vis-assoc-terr-ens-reg td {
    border: 1px solid #ddd; /* Add border to table headers and cells */
}

.table-vis-assoc-terr-ens-reg th {
    background-color: white;
    color:black;
    height:100px;
}

.sticky-col {
    position: sticky;
    background-color: white;
    color: black;
    z-index:2;
    text-align: left; /* Ensure consistent text alignment */
}

.save-edit-col{
    width:30px;
    left:0px;
    min-width:30px;
    max-width:30px;
    z-index:3;
}
.cancel-delete-col{
    width:30px;
    left:30px;
    min-width:30px;
    max-width:30px;
    z-index:3;
}

.asso-id-col{
    width:50px;
    left:60px;
    min-width:50px;
    max-width:50px;
    z-index: 2;
}

.id-col {
    width:50px;
    left:110px;
    min-width:50px;
    max-width:50px;
    z-index: 2;
}

.desc-col {
    width:400px;
    left:160px;
    min-width:400px;
    max-width:400px;
    overflow:hidden;
    text-overflow: ellipsis;
    z-index: 2;
}

.start-col{
    width:50px;
    left:560px;
    min-width:50px;
    max-width:50px;
    overflow-wrap: break-word; /* Modern alternative */
    white-space: normal; /* Allows wrapping */
    z-index: 2;
}

.end-col{
    width:50px;
    left:610px;
    min-width:50px;
    max-width:50px;
    overflow-wrap: break-word; /* Modern alternative */
    white-space: normal; /* Allows wrapping */
    z-index: 2;
}


.year-header{
    transform: rotate(-90deg); /* Rotate the text 90 degrees counterclockwise */
    transform-origin: center; /* Adjust the origin point for the rotation */
}

.annee-valide{
    background-color:red;
    color:black;
    text-align:center;
}