.page-validation-stat {
    display: flex;
    flex-direction: column; /* Stack vertically if necessary */
    height: 100vh; /* Full height of the page */
    overflow: hidden; /* Prevent overflow (no scrollbars) */
    background-color: #1f1f1f;
}
.validation-menu{
    display:flex;
    flex-direction: row;
    height: 30px
}

.menu-icon{
    color:white
}
.onglet-definition-strates{
    display:flex;
    flex-direction: row;
}
/* Strata edit container */
.modif-strate {
    padding: 8px;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #1f1f1f;
    color: #ffffff;
    overflow-y: auto;
}

.strate-form-data{
    color:#ffffff
}

.strate-edit-del{
    display:flex;
    flex-direction:'row'
}
.strate-save-cancel{
    display:flex;
    flex-direction:'row'
}