.page-inventaire {
    display: flex;
    flex-direction: column; /* Stack vertically if necessary */
    height: 100vh; /* Full height of the page */
    overflow: hidden; /* Prevent overflow (no scrollbars) */
    background-color: #1f1f1f;
}

.inventaire-carte-conteneur{
    flex: 1;
    position: relative;
}

.table-inventaire {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-shrink: 0; /* Prevent shrinking */
    overflow-y: auto; /* Allow scrolling if necessary within this section */
    background-color: #1f1f1f;
    color:white;
}

.table-inventaire-rendu{
    width:100%;
}

table {
    width: 100%;
    table-layout: fixed;
  }
  /* see me */
  td {
    border: solid;
    width:10%
  }
  /* play with bg cells and cols ? */
  
  /*tr:nth-child(even) :nth-child(odd) {
    background:rgba(100,255,50,0.3);
    }
  tr:nth-child(odd) :nth-child(even) {
    background:rgba(255,255,255,0.3);
    }*/