openapi: 3.0.1
info:
  title: Description de l'API pour l'outil d'estimation du stationnement
  description: ''
  version: 1.0.0
tags: []
paths:
  /api/quartiers-analyse:
    $ref: './paths/quartier/quartierNoId.yaml'
  /api/historique:
    $ref: './paths/historique/historiqueNoId.yaml'
  /api/historique/{id_periode}:
    $ref: './paths/historique/historiqueWId.yaml'
  /api/inventaire/quartier/{id_quartier}:
    $ref: './paths/inventaire/inventaireQuartier.yaml'
  /api/inventaire/maj-en-gros:
    $ref: './paths/inventaire/inventaireMajEnGros.yaml'
  /api/inventaire/{id_inv}:
    $ref: './paths/inventaire/inventaireWId.yaml'
  /api/inventaire/:
    $ref: './paths/inventaire/inventaireNoId.yaml'
  /api/inventaire/nouv-en-gros:
    $ref: './paths/inventaire/inventaireNouvEnGros.yaml'
  /api/inventaire/calcul/quartier/{id_quartier}:
    $ref: './paths/inventaire/inventaireCalculQuartier.yaml'
  /api/inventaire/calcul/lot/{id_lot}:
    $ref: './paths/inventaire/inventaireCalculLot.yaml'
  /api/inventaire/calcul/reg-val-man:
    $ref: './paths/inventaire/inventaireCalculSemiAuto.yaml'
  /api/inventaire/query:
    $ref: './paths/inventaire/inventaireQuery.yaml'
  /api/territoire/periode/{id_periode}:
    $ref: './paths/territoire/getTerritoirePeriode.yaml'
  /api/territoire/periode-geo/{id_periode_geo}:
    $ref: './paths/territoire/getTerritoireId.yaml'
  /api/reglements/operations:
    $ref: './paths/reglements/getOperations.yaml'
  /api/reglements/unites:
    $ref: './paths/reglements/getUnitesReg.yaml'
  /api/reglements/unites/{g_no_lot}:
    $ref: './paths/reglements/getInputsByLot.yaml'
  /api/reglements/complet/{id_reg_stat}:
    $ref: './paths/reglements/reglementComplet.yaml'
  /api/reglements/entete:
    $ref: './paths/reglements/reglementsEnteteNoId.yaml'
  /api/reglements/entete/{id_reg_stat}:
    $ref: './paths/reglements/reglementsEnteteWId.yaml'
  /api/reglements/{id_reg_stat}:
    $ref: './paths/reglements/deleteReglements.yaml'
  /api/reglements/ligne-def/{id_reg_stat_emp}:
    $ref: './paths/reglements/ligneDefReglementWId.yaml'
  /api/reglements/ligne-def:
    $ref: './paths/reglements/ligneDefReglementNoId.yaml'
  /api/reglements/graphiques:
    $ref: './paths/reglements/graphiqueStat.yaml'
  /api/ens-reg/{id_er}:
    $ref: './paths/ensemble_reglements/ensRegWId.yaml'
  /api/ens-reg/complet/{id_er}:
    $ref: './paths/ensemble_reglements/ensRegCompletWId.yaml'
  /api/ens-reg/entete:
    $ref: './paths/ensemble_reglements/enteteEnsRegNoId.yaml'
  /api/ens-reg/entete/{id_er}:
    $ref: './paths/ensemble_reglements/enteteEnsRegWId.yaml'
  /api/ens-reg/assoc:
    $ref: './paths/ensemble_reglements/assocEnsRegNoId.yaml'
  /api/ens-reg/assoc/{id_assoc_er_reg}:
    $ref: './paths/ensemble_reglements/assocEnsRegWId.yaml'
  /api/ens-reg/regs-associes/{id_er}:
    $ref: './paths/ensemble_reglements/regsAssocies.yaml'
  /api/ens-reg/entete-par-territoire/{id_periode_geo}:
    $ref: './paths/ensemble_reglements/trouveParTerritoire.yaml'
  /api/ens-reg/par-role/{ids_provinciaux}:
    $ref: './paths/ensemble_reglements/trouveParRole.yaml'
  /api/ens-reg/informations-pour-graphique:
    $ref: './paths/ensemble_reglements/informationsPourGraph.yaml'
  /api/cadastre/lot/quartier-ana/{id_quartier}:
    $ref: './paths/cadastre/cadastreParQuartier.yaml'
  /api/cadastre/lot-query:
    $ref: './paths/cadastre/cadastreParQuery.yaml'
  /api/cadastre/lot/{g_no_lot}:
    $ref: './paths/cadastre/cadastreParId.yaml'
  /api/cadastre/role-associe/{g_no_lot}:
    $ref: './paths/cadastre/roleParIdCadastre.yaml'
  /api/ana-par-quartier/carto:
    $ref: './paths/ana-par-quartier/anaCarto.yaml'
  /api/ana-par-quartier/histo:
    $ref: './paths/ana-par-quartier/anaHisto.yaml'
  /api/ana-par-quartier/XY:
    $ref: './paths/ana-par-quartier/anaXY.yaml'
  /api/ana-par-quartier/recalcule-stat-agreg:
    $ref: './paths/ana-par-quartier/recalcStatAg.yaml'
  /api/ana-par-quartier/recalcule-val-autres:
    $ref: './paths/ana-par-quartier/recalcValAut.yaml'
  /api/PAV:
    $ref: './paths/PAV/getpav.yaml'
  /api/PAV/recalcule/{id_quartier}:
    $ref: './paths/PAV/getPAVRecalcul.yaml'
  /api/PAV/{id_quartier}:
    $ref: './paths/PAV/sauvePAV.yaml'
  /api/ens-reg-terr/par-territoire/{id_periode_geo}:
    $ref: './paths/ens-reg-terr/getByTerritoryId.yaml'
  /api/ens-reg-terr/associations:
    $ref: './paths/ens-reg-terr/getByQuery.yaml'
  /api/ens-reg-terr/association:
    $ref: './paths/ens-reg-terr/ensRegTerrNoId.yaml'
  /api/ens-reg-terr/association/{id_asso_er_ter}:
    $ref: './paths/ens-reg-terr/ensRegTerrWId.yaml'
  /api/cubf:
    $ref: './paths/cubf/cubfNId.yaml'
  /api/cubf/n_entrees:
    $ref: './paths/cubf/cubfNEntries.yaml'
  /api/ana-var/recalcule-inventaires-tous-ens-regs:
    $ref: './paths/analyse-variabilite/recalculeAnaVar.yaml'
  /api/ana-var/obtiens-donnees-varia:
    $ref: './paths/analyse-variabilite/getVariaData.yaml'
  /api/ana-var/histo-varia:
    $ref: './paths/analyse-variabilite/GetHistoGramVariabilite.yaml'
  /api/valid/strate:
    $ref: './paths/evaluation_perf/strateNoId.yaml'
  /api/valid/strate/{id_strate}:
    $ref: './paths/evaluation_perf/strateWId.yaml'
  /api/valid/strate/donnees_intrantes:
    $ref: './paths/evaluation_perf/strateDonneesIntrantes.yaml'
  /api/valid/strate/colonnes_possibles:
    $ref: './paths/evaluation_perf/strateColonnesPossibles.yaml'
  /api/valid/feuilles:
    $ref: './paths/evaluation_perf/feuillesStrates.yaml'
  /api/valid/resultats:
    $ref: './paths/evaluation_perf/resultatsNoId.yaml'
  /api/valid/resultats/{id_val}:
    $ref: './paths/evaluation_perf/resultatsWId.yaml'
  /api/valid/popu-strate:
    $ref: './paths/evaluation_perf/popuStrate.yaml'
  /api/valid/graphiques:
    $ref: './paths/evaluation_perf/graphiquesEvalPerf.yaml'
components:
  schemas:
    $ref: './components/schemas.yaml'
servers:
  - url: http://localhost:5000/
    description: Memoire
security: []
