openapi: 3.0.1
info:
  title: Description de l'API pour l'outil d'estimation du stationnement
  description: ''
  version: 1.0.0
tags: []
paths:
  /api/quartiers-analyse:
    $ref: './paths/quartier/quartierNoId.yaml'
  /api/historique:
    $ref: './paths/historique/historiqueNoId.yaml'
  /api/historique/{id_periode}:
    $ref: './paths/historique/historiqueWId.yaml'
  /api/inventaire/quartier/{id_quartier}:
    $ref: './paths/inventaire/inventaireQuartier.yaml'
  /api/inventaire/maj-en-gros:
    $ref: './paths/inventaire/inventaireMajEnGros.yaml'
  /api/inventaire/{id_inv}:
    $ref: './paths/inventaire/inventaireWId.yaml'
  /api/inventaire/:
    $ref: './paths/inventaire/inventaireNoId.yaml'
  /api/inventaire/nouv-en-gros:
    $ref: './paths/inventaire/inventaireNouvEnGros.yaml'
  /api/inventaire/calcul/quartier/{id_quartier}:
    $ref: './paths/inventaire/inventaireCalculQuartier.yaml'
  /api/inventaire/calcul/lot/{id_lot}:
    $ref: './paths/inventaire/inventaireCalculLot.yaml'
  /api/inventaire/calcul/reg-val-man:
    $ref: './paths/inventaire/inventaireCalculSemiAuto.yaml'
  /api/inventaire/query:
    $ref: './paths/inventaire/inventaireQuery.yaml'
  /api/territoire/periode/{id_periode}:
    $ref: './paths/territoire/getTerritoirePeriode.yaml'
  /api/territoire/periode-geo/{id_periode_geo}:
    $ref: './paths/territoire/getTerritoireId.yaml'
  /api/reglements/operations:
    $ref: './paths/reglements/getOperations.yaml'
  /api/reglements/unites:
    $ref: './paths/reglements/getUnitesReg.yaml'
  /api/reglements/unites/{g_no_lot}:
    $ref: './paths/reglements/getInputsByLot.yaml'
  /api/reglements/complet/{id_reg_stat}:
    $ref: './paths/reglements/reglementComplet.yaml'
  /api/reglements/entete:
    $ref: './paths/reglements/reglementsEnteteNoId.yaml'
  /api/reglements/entete/{id_reg_stat}:
    $ref: './paths/reglements/reglementsEnteteWId.yaml'
  /api/reglements/{id_reg_stat}:
    $ref: './paths/reglements/deleteReglements.yaml'
  /api/reglements/ligne-def/{id_reg_stat_emp}:
    $ref: './paths/reglements/ligneDefReglementWId.yaml'
  /api/reglements/ligne-def:
    $ref: './paths/reglements/ligneDefReglementNoId.yaml'
  /api/ens-reg/{id_er}:
    $ref: './paths/ensemble_reglements/ensRegWId.yaml'
  /api/ens-reg/complet/{id_er}:
    $ref: './paths/ensemble_reglements/ensRegCompletWId.yaml'
  /api/ens-reg/entete:
    $ref: './paths/ensemble_reglements/enteteEnsRegNoId.yaml'
  /api/ens-reg/entete/{id_er}:
    $ref: './paths/ensemble_reglements/enteteEnsRegWId.yaml'
  /api/ens-reg/assoc:
    $ref: './paths/ensemble_reglements/assocEnsRegNoId.yaml'
  /api/ens-reg/assoc/{id_assoc_er_reg}:
    $ref: './paths/ensemble_reglements/assocEnsRegWId.yaml'
components:
  schemas:
    $ref: './components/schemas.yaml'
servers:
  - url: http://localhost:5000/
    description: Memoire
security: []
